<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Coronavirus Tracker</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	<header>
		<h1>Coronavirus Tracker</h1>
	</header>
	<section>
		<div class="container">
			<div class="jumbotron">
				<h2 class="display-4" th:text="${#numbers.formatDecimal(totalCases, 0, 'COMMA', 2, 'POINT')}"></h2>
				<p class="lead">Total cases reported on <b th:text="${queryDate}"></b></p>
				<p><small>Last update:<span th:text="${updated}"></span></small></p>
			</div>
			<div class="table-body">
				<table class="table">
					<thead>
						<tr>
							<th>Contry</th>
							<th>State</th>
							<th>Cases reported</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="case: ${cases}">
							<td th:text="${case.country}">Country</td>
							<td th:text="${case.state}">State</td>
							<td th:text="${case.latestTotalCases}">0</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="table-footer">
				<span class="title">Total</span> <span class="count"
					th:text="${totalCases}"></span>
			</div>
		</div>
	</section>
</body>
</html>